/* 
	Global classes 
					*/
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}


#screen {
	height: 530px;
	width: 300px;
	margin: 106px 31px;
  background-color: #4E6172;
}

.head-bar {
  display: inline-block;
  color: white;
  font-size: 25px;
  background-color: forestgreen;
  width: 300px;
  height: 45px;
}

.back-button {
  margin-left: 10px;
  margin-top: 10px;
}

.material-icons {
  color:white;
}

.logo {
  margin-left: 50px;
}


.search-bar {  
  display: inline-block; 
  margin-top: 25px;
}

.text {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: black;
  margin-left: 8px;
}

u:hover {
  color:forestgreen;
}

.italic {
  font-style:italic; 
  color: black;
  font-size: small; 
  padding-left: 25px;
}

.italic:hover {
  color: black;
  text-decoration: none;
}

.map {
  display:block;
  margin-left: 12px;
  width: 275px;
  height: 430px;
}

.small-map {
  display: block;
  margin-left: 12px;
  margin-top: 10px;
  width: 275px;
  height: 260px;
}

.fun-facts {
display:block;
margin-top: 15px;
height: 100px;
color: white;
padding-left: 5px;
}

.text-box {
  align-items: center;
  width: 230px;
  margin-top: 10px;
}

.text {
  color: white;
  font-size: 24px;
}

.info-table-6{
  margin-left: 23px;
}

.category-image {
  width: 110px;
  height: 90px;
}

.cell:hover {
  cursor: pointer;
  border-color: black;
}

.cell {
  background-color: white;
  border-radius: 5px;
  border: 2px solid forestgreen;
  text-align: center;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 120px;
  height: 120px;
}

img:hover {
cursor:pointer;
}

.btn {
  display: block;
  margin-top: 40px;
  width: 250px;
  height: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  background-color: white;
  color: forestgreen;
  border-radius: 5px;
  border-color: forestgreen;
  border-width: 2px;
}

  .btn:hover {
    background-color: forestgreen;
    color: white;
    border-color: darkgreen;
  }

/* Bootstrap */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

  .row > [class*='col-'] {
    padding: 20px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
  }

.padding {
  height: 30px;
}

.search-result {
  display: block;
  margin-top: 15px;
  height: 100px; 
  padding-left: 5px;
}
