/* 
	Global classes 
					*/
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}


#screen {
	height: 530px;
	width: 300px;
	margin: 106px 31px;
  background-color: rgb(149, 202, 64);
}

.paw {
  width: 40px; 
  height: 40px;
}

  .paw:hover {
    cursor: default;
  }

  .logo:hover {
  cursor: default;
  }

.head-bar {
  display: inline-block;
  color: white;
  font-size: 25px;
  background-color: forestgreen;
  width: 300px;
  height: 45px;
  align-content: space-around;
  text-align: center;
  margin: auto;
}

.back-button {
  display: inline-block;
  margin-left: 10px;
  margin-top: 8px;
  float: left;
}

.home-button {
  float:right;
  margin-top: 9px;
  margin-right: 10px;
  align-self: inherit;
  width: 24px;
  height: 24px;
}

.material-icons {
  display: inline-block;
  color:white;
}

.logo {
  color:white;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
}


.search-bar {  
  display: inline-block; 
  align-self: center;
}

#search-icon {
  vertical-align: middle;
  margin-left: 16px;
}

.search {
  align-content: center;
  vertical-align: middle;
  margin-top: 5px;
}

  .search:hover {
    cursor: default;
  }

u:hover {
  color:forestgreen;
}

.italic {
  font-style:italic; 
  color: black;
  font-size: small; 
  padding-left: 25px;
}

.italic:hover {
  color: black;
  text-decoration: none;
}

.map {
  display:block;
  width: 100%;
  height: 84%;
}

  
.map:hover {
  cursor: default;
  }


#tech {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 330px;
  left: 200px;
}

  
#tech:hover {
  cursor: pointer;
  }

#directions {
  width: 275px;
  height: 40px;
  position: absolute;
  top: 540px;
  left: 45px;
}

#bigArrow {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 530px;
  left: 255px;
}

  #bigArrow:hover {
    cursor: pointer;  
  }

  #directions:hover {
    cursor: pointer;
  }

.small-map {
  display: block;
  position: absolute;
  top: 337px;
  left: 30px;
  width: 300px;
  height: 300px;
}

.fun-facts {
display:block;
margin-top: 15px;
height: 100px;
color: white;
padding-left: 5px;
}

.text-box {
  align-items: center;
  width: 79%;
  margin-top: 10px;
  border-radius: 5px;
  border-color: darkgreen;
  border-width: 1px;
}

.smaller-text {
  color: white;
  font-size: 18px;
  margin-left: 30px;
  margin-top: 5px;
  font-style:italic;
  font-weight: lighter;
}

.text {
  color: white;
  font-size: 22px;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: 10px;
}

.text:hover {
  cursor:default;
}

.info-table-6{
  margin-left: 23px;
}

.category-image {
  width: 110px;
  height: 90px;
}

.cell:hover {
  cursor: pointer;
  border-color: black;
}

.cell-left:hover {
  cursor: pointer;
  border-color: black;
}

.cell-left {
  display: inline-block;
  background-color: white;
  border-radius: 5px;
  border: 2px solid forestgreen;
  text-align: center;
  width: 120px;
  height: 120px;
  float: left;  
}

.row {
  height:25%;
  width: 100%;
  align-content: center;
  vertical-align: middle;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: 20px;
}

.cell {
  display: inline-block;
  background-color: white;
  border-radius: 5px;
  border: 2px solid forestgreen;
  text-align: center;
  width: 120px;
  height: 120px;
  margin-left: 20px;
}

.btn {
  display: block;
  width: 87%;
  height: 80px;
  margin-left: 18px;
  margin-top: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px;
  color: white;
  background-color: rgb(42, 135, 49);
  border-radius: 5px;
  border-color: white;
  border-width: 2px;
  vertical-align: middle;
}

  .btn:hover {
    background-color: forestgreen;
    color: rgb(149, 202, 64);
    border-color: rgb(149, 202, 64);
  }

.padding {
  height: 30px;
}

.search-result {
  display: block;
  margin-top: 15px;
  height: 100px; 
  padding-left: 5px;
}
